In [1]:
import pandas as pd

In [2]:
indicators_raw = [
    {
        'hotel': 1,
        'provider': 4,
        'room': 7,
        'board': 11
    },
    {
        'hotel': 1,
        'provider': 5,
        'room': 7,
        'board': 11
    },
    {
        'hotel': 1,
        'provider': 4,
        'room': 7,
        'board': 12
    },
    {
        'hotel': 3,
        'provider': 4,
        'room': 7,
        'board': 11
    },
    {
        'hotel': 3,
        'provider': 5,
        'room': 7,
        'board': 11
    }
]

In [18]:
indicators = pd.DataFrame(indicators_raw)

In [19]:
indicators

   board  hotel  provider  room
0     11      1         4     7
1     11      1         5     7
2     12      1         4     7
3     11      3         4     7
4     11      3         5     7

In [99]:
def list_wrap(group):
    if len(group.unique()) > 1:
        return list(group.unique())
    
    return group.values[0]

In [100]:
grouped = hotel_df.groupby('hotel')
grouped[column].apply(list_wrap)

hotel
3    [11]
Name: board, dtype: object

In [97]:
result = []

for hotel in indicators.hotel.unique():
    hotel_df = indicators[indicators.hotel == hotel]
    amount_combinations = len(hotel_df.room.unique()) * len(hotel_df.provider.unique()) * len(hotel_df.board.unique())
    
    if hotel_df.shape[0] == amount_combinations: 
        hotel_result = {}
        grouped = hotel_df.groupby('hotel')
    
        for column in ['provider', 'room', 'board']:
            hotel_result[column] = grouped[column].apply(list_wrap).reset_index()[column].to_dict()[0]
        
        result.append(hotel_result)
    
    else:
        result += hotel_df.to_dict('records')
    
        
    
        
        # agrupar por cada campo y hacer apply list

In [98]:
result

[{'board': 11, 'hotel': 1, 'provider': 4, 'room': 7},
 {'board': 11, 'hotel': 1, 'provider': 5, 'room': 7},
 {'board': 12, 'hotel': 1, 'provider': 4, 'room': 7},
 {'provider': [4, 5], 'room': [7], 'board': [11]}]

In [45]:
indicators.shape

(5, 4)

In [14]:
for column in hotel_df.columns:
    if column != 'hotel':
        print(column)
        print(hotel_df)
        hotel_df = hotel_df.groupby(column).apply(lambda x: list(set(x))).reset_index()

board
   board           0
0     11  [0, board]
0
   board           0
0     11  [0, board]

TypeError: unhashable type: 'list'

In [21]:
hotel_df

   board  hotel  provider  room
3     11      3         4     7
4     11      3         5     7

In [26]:
hotel_df.groupby('hotel')['provider'].apply(lambda x: list(x.values))

hotel
3    [4, 5]
Name: provider, dtype: object

In [17]:
hotel_df

   board           0
0     11  [0, board]

In [27]:
indicators

   board  hotel  provider  room
0     11      1         4     7
1     11      1         5     7
2     12      1         4     7
3     11      3         4     7
4     11      3         5     7

In [28]:
board = 12
hotel = 1

In [42]:
record = indicators[(indicators['board'] == board) & (indicators['hotel'] == hotel)]

In [43]:
if len(record):
    print(record[['provider', 'room']].to_dict('records'))

[{'provider': 4, 'room': 7}, {'provider': 5, 'room': 7}, {'provider': 4, 'room': 7}]

In [29]:
indicators.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
indicators['board'] == board

0    False
1    False
2     True
3    False
4    False
Name: board, dtype: bool